{% extends "base.html"%} {% block title %}BuyOrSell{% endblock %}
{% block content %}
  <div class="hero-body is-primary" type=variable value=blue>
    <div  class="container has-text-centered">
  <h1 class="title">
    Welcom {{user.name}}!!!
  </h1>  
  <br>
  <h2 class="subtitle">
   BuyOrSell is a free website made for all people that wish make business with auctions, salles,  or shopping products.
   We count with {{count}} users and {{products_number}} products. And this numbers does't stop growing up.
  </h2>

  <a>
  If you want report one problem or advertise something with more focus please contact : "buy0rs3ll@gmail.com".</a>
  </div>
  </div>
{% endblock %}